:root {
    --primary-color: #0a1a44;
    --secondary-color: #d4af37;
    --tertiary-color: #ffffff;
    --quaternary-color: #fffdf7;
}

.menu-section {
    background: var(--tertiary-color);
    color: var(--secondary-color);
}

/* Subtitle */
.menu-subtitle {
    letter-spacing: 3px;
    color: var(--secondary-color);
    font-size: 1rem;
    font-family:"times new roman",serif;
}

/* Title */
.menu-title {
    font-size: 3rem;
    font-weight: 500;
    font-family: "Mea Culpa", cursive;
}

/* Images */
.menu-img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    object-fit: cover;
}

/* Text */
.menu-name {
    font-size: 1.1rem;
    font-weight: 600;
    font-family:"times new roman",serif;
}

.menu-desc {
    font-size: 0.9rem;
    margin-top: 5px;
    opacity: 0.8;
    color: #333333;
}

.menu-price {
    font-size: 1rem;
    font-weight: 600;
}

/* Vertical Divider */
.divider {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}
