:root {
    --primary-color: #0a1a44;
    --secondary-color: #d4af37;
    --tertiary-color: #ffffff;
    --quaternary-color: #fffdf7;
}
.reservasi h1, h2{
    font-family: "Mea Culpa", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    color: var(--primary-color);
}

section p{
    font-family: "times new roman", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    color: var(--primary-color);
}



/**** Card Container *****/
.crd-wrapper {
  width: 350px;
  height: 450px;
  position: relative;
}

.crd-wrapper h5{
    font-family: "Mea Culpa", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
}

.crd-wrapper h5 span{
    font-family: "times new roman", sans-serif;
}

.crd {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.5s;

  .crd-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    transition: .5s;
  }

  &:hover img {
    opacity: 0.4;
    transition: .5s;
  }
}

.crd:hover .crd-image {
  transform: translateY(-100px);
  transition: all .9s;
}

/**** Social Icons *****/

.social-icons {
    padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;

  li {
    list-style: none;

    a {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: #fff;
      font-size: 23px;
      color: #333;
      font-weight: bold;
      margin: 0 6px;
      transition: .4s;
      transform: translateY(200px);
      opacity: 0;
    }
  }
}

.crd:hover .social-icons li a {
  transform: translateY(0px);
  opacity: 1;
}

.social-icons li a:hover {
  background: #000;
  transition: .2s;
  .fab {
    color: #fff;
  }
}

.social-icons li a .fab {
  transition: .8s;

  &:hover {
      transform: rotateY(360deg);
      color: #fff;
  }
}

.crd:hover li:nth-child(1) a {
    transition-delay: 0.1s;
}
.crd:hover li:nth-child(2) a {
  transition-delay: 0.2s;
}
.crd:hover li:nth-child(3) a {
  transition-delay: 0.3s;
}
.crd:hover li:nth-child(4) a {
  transition-delay: 0.4s;
}

/**** Personal Details ****/

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 1;
  padding: 10px;

  h5 {
    margin: 30px 0;
    padding: 0;
    text-align: center;

    .job-title {
        font-size: 1rem;
        line-height: 2.5rem;
        color: #333;
        font-weight: 300;
    }
  }
}
