:root {
    --primary-color: #0a1a44;
    --secondary-color: #d4af37;
    --tertiary-color: #ffffff;
    --quaternary-color: #fffdf7;
}

.img {
    position: relative;
    width: 100%;
    height: 70vh; /* make image container 50% height of screen */
    overflow: hidden;
}

.img h1 {
    font-family: "Mea Culpa", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    color: var(--secondary-color);
}

.img p {
    font-family: "times new roman", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* prevent image from stretching / pecah */
}

.desc {
    position: absolute;
    top: 50%;
    left: 20px; /* distance from left side */
    transform: translateY(-50%); /* center vertically */
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
