.navbar {
    font-family: "times new roman", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.navbar-brand {
    font-family: "Mea Culpa", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--secondary-color);
}

#navbarNav .nav-link {
    font-family: "times new roman", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--secondary-color);
}
