:root {
    --primary-color: #0a1a44;
    --secondary-color: #d4af37;
    --tertiary-color: #ffffff;
    --quaternary-color: #fffdf7;
}

.reservasi h1{
    font-family: "Mea Culpa", cursive;
    font-size: 3rem;
    color: var(--secondary-color);
}

.reservasi p{
    font-family: "Times New Roman", serif;
    font-size: 1.2rem;
    color: var(--secondary-color);
}
